---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
import "../styles/global.css";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={["Hi", "Bonjour", "Hola", "Ciao", "Mingalaba"]}
  />
</BaseLayout>
